<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>

</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken GAME!</h1>

  <p>Hi <span sec:authentication="name"></span></p>

  <h2>エントリー</h2>
  <div th:if="${entryUsers}">
    <ul>
      <li th:each="entryUser:${entryUsers}"><a
          th:href="@{/match(enemyUserId=${entryUser.id})}">[[${entryUser.name}]]</a></li>
    </ul>
  </div>

  <p th:if="${matchResults}">
  <div th:each="matchResult:${matchResults}">
    <tr>
      <td>id:[[${matchResult.id}]]</td>
      <td>user1:[[${matchResult.user1}]]</td>
      <td>user2:[[${matchResult.user2}]]</td>
      <td>user1の手:[[${matchResult.user1Hand}]]</td>
      <td>user2の手:[[${matchResult.user2Hand}]]</td>
    </tr>
  </div>
  </p>

  <!--<p th:if="${name}">Hi [[${name}]]</p>-->
  <!--<a href="/play2?playerChoice=Gu">ぐー</a>
  <a href="/play2?playerChoice=Choki">ちょき</a>
  <a href="/play2?playerChoice=Pa">ぱー</a>
  -->

  <div th:if="${playerChoice}">
    <p>あなたの手 [[${playerChoice}]]</p>
    <p>相手の手 [[${computerChoice}]]</p>
    <p>結果 [[${result}]]</p>
  </div>
</body>

</html>
